<h2>Sign up</h2>

<%= form_for(setup_user(resource), :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <% if current_user && current_user.admin? %>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  <% end %>
  
  <%= f.fields_for :person do |ff| %>
    <div>
      <%= ff.label :first_name %>
      <%= ff.text_field :first_name %>
    </div>
    <div>
      <%= ff.label :last_name %>
      <%= ff.text_field :last_name %>
    </div>
    <div>
      <%= ff.label :email %>
      <%= ff.text_field :email %>
    </div>
    <div>
      <%= ff.label :phone %>
      <%= ff.text_field :phone %>
    </div>
  <% end %> 

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
