<h1>Listing people</h1>

<p><%= link_to 'New Person', new_person_path, :class => 'btn btn-primary' %></p>

<%= will_paginate @people %>

<table class="table table-striped">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <% if user_signed_in? && current_user.organizer? %>
      <th>Phone</th>
      <th>Email</th>
    <% end %>
      <th>Role</th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= person.phone %></td>
      <td><%= person.email %></td>
    <% end %>
      <td><%= person.user.role if person.user %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Learn More', person, :class => 'btn btn-mini'%></td>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_person_path(person), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      <td><%= link_to 'Merge', merge_person_path(person), :class => 'btn btn-mini' if person.user %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @people %>

<br />
