<%= form_for(@fruit, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @fruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fruit.errors.count, "error") %> prohibited this fruit from being saved:</h2>

      <ul>
      <% @fruit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="control-group">
    <%= f.label 'Season Start', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :season_start_month, MONTHS %>
      <%= f.select :season_start_day, (1..31).to_a %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Season End', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :season_end_month, MONTHS %>
      <%= f.select :season_end_day, (1..31).to_a %>
    </div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
