<%= form_for(@pruning, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @pruning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pruning.errors.count, "error") %> prohibited this status_check from being saved:</h2>

      <ul>
      <% @pruning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :fruit_tree_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :fruit_tree_id, FruitTree.by_street, :id, :tree_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls"><%= f.datetime_select :date, :discard_minute => true, :ampm => true %></div>
  </div>
  <div class="control-group">
    <%= f.label :leader_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :leader_id, Person.order(:last_name, :first_name), :id, :full_name %></div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>