<h1>Listing prunings</h1>

<table>
  <tr>
    <th>Fruit tree</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prunings.each do |pruning| %>
  <tr>
    <td><%= pruning.fruit_tree_id %></td>
    <td><%= pruning.date %></td>
    <td><%= link_to 'Show', pruning %></td>
    <td><%= link_to 'Edit', edit_pruning_path(pruning) %></td>
    <td><%= link_to 'Destroy', pruning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pruning', new_pruning_path %>
