<h1>Pruning <%= @pruning.id %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Fruit tree:</b>
  <%= @pruning.fruit_tree.tree_name %>
</p>

<p>
  <b>Date:</b>
  <%= @pruning.date %>
</p>

<p>
  <b>Leader:</b>
  <%= @pruning.leader.full_name if @pruning.leader %>

