<%= form_for(@harvesting, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @harvesting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@harvesting.errors.count, "error") %> prohibited this harvesting from being saved:</h2>

      <ul>
      <% @harvesting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :harvest_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :harvest_id, Harvest.all, :id, :harvest_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :harvester_id, :class => 'control-label'%>
    <div class="controls"><%= f.collection_select :harvester_id, Person.all, :id, :full_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :hours, :class => 'control-label' %>
    <div class="controls"><%= f.number_field :hours %></div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
