<h1>Listing Harvestings</h1>

<p><%= link_to 'New Harvesting', new_harvesting_path, :class => 'btn btn-primary' %></p>

<table class="table table-striped">
  <tr>
    <th>Harvest</th>
    <th>Harvester</th>
    <th>Hours</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @harvestings.each do |harvesting| %>
  <tr>
    <td><%= harvesting.harvest.harvest_name %></td>
    <td><%= harvesting.harvester.full_name %></td>
    <td><%= harvesting.hours %></td>
    <td><%= link_to 'Show', harvesting, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_harvesting_path(harvesting), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', harvesting, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


