<%= form_for(@status_check, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @status_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_check.errors.count, "error") %> prohibited this status_check from being saved:</h2>

      <ul>
      <% @status_check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :fruit_tree_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :fruit_tree_id, FruitTree.by_street, :id, :tree_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls"><%= f.datetime_select :date, :discard_minute => true, :ampm => true %></div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls"><%= f.select :status, StatusCheck::STATUSES %></div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls"><%= f.text_area :notes %></div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
