<h1><%= @status_check.check_name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Fruit tree:</b>
  <%= link_to @status_check.fruit_tree.tree_name, @status_check.fruit_tree %>
</p>

<p>
  <b>Date:</b>
  <%= @status_check.date.to_s :human %>
</p>

<p>
  <b>Status:</b>
  <%= @status_check.status %>
</p>

<p>
  <b>Notes:</b>
  <%= @status_check.notes %>
</p>

