<%= form_for(@canning, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @canning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canning.errors.count, "error") %> prohibited this canning from being saved:</h2>

      <ul>
      <% @canning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :canning_session_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :canning_session_id, CanningSession.all, :id, :session_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :canner_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :canner_id, Person.all, :id, :full_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :hours, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :hours %></div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
