<%= form_for(@canning) do |f| %>
  <% if @canning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canning.errors.count, "error") %> prohibited this canning from being saved:</h2>

      <ul>
      <% @canning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :canning_session_id %><br />
    <%= f.number_field :canning_session_id %>
  </div>
  <div class="field">
    <%= f.label :canner_id %><br />
    <%= f.number_field :canner_id %>
  </div>
  <div class="field">
    <%= f.label :hours_integer %><br />
    <%= f.text_field :hours_integer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
