<%= form_for(@harvest, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @harvest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@harvest.errors.count, "error") %> prohibited this harvest from being saved:</h2>

      <ul>
      <% @harvest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls"><%= f.text_area :description %></div>
  </div>
  <div class="control-group">
    <%= f.label :harvesters_needed, :class => 'control-label' %>
    <div class="controls"><%= f.number_field :harvesters_needed %></div>
  </div>
  <div class="control-group">
    <%= f.label :canners_needed, :class => 'control-label' %>
    <div class="controls"><%= f.number_field :canners_needed %></div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls"><%= f.datetime_select :date, :discard_minute => true, :ampm => true %></div>
  </div>
  <div class="control-group">
    <%= f.label :fruit_tree_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :fruit_tree_id, FruitTree.by_street, :id, :tree_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :leader_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :leader_id, Person.order(:last_name, :first_name), :id, :full_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :amount_harvested, :class => 'control-label' %>
    <div class="controls"><%= f.number_field :amount_harvested %></div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls"><%= f.text_area :notes %></div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
