<h1><%= @harvest.harvest_name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @harvest.description %>
</p>

<p>
  <b>Harvesters needed:</b>
  <%= @harvest.harvesters_needed %>
</p>

<p>
  <b>Canners needed:</b>
  <%= @harvest.canners_needed %>
</p>

<p>
  <b>Date:</b>
  <%= @harvest.date.to_s :human %>
</p>

<p>
  <b>Fruit tree:</b>
  <%= link_to @harvest.fruit_tree.tree_name, @harvest.fruit_tree %>
</p>

<p>
  <b>Leader:</b>
  <%= link_to @harvest.leader.full_name, @harvest.leader %>
</p>

<p>
  <b>Amount harvested:</b>
  <%= @harvest.amount_harvested %>
</p>

<p>
  <b>Notes:</b>
  <%= @harvest.notes %>
</p>

<p>
  <% if user_signed_in? && current_user.organizer? %>
    <%= link_to 'New Canning Session', new_canning_session_path(:harvest_id => @harvest.id), :class => 'btn btn-primary' %> 
    <%= link_to 'Log Harvester Work', new_harvesting_path(:harvest_id => @harvest.id), :class => 'btn btn-primary' %>
  <% end %>
  <% if @harvest.upcoming? %>
    <%= link_to 'Join the Harvest', '#', :class => 'btn btn-primary' %>
  <% end %>
</p>

<h2>Harvester Logs</h2>
<table class="table table-striped">
  <tr>
    <th>Harvester</th>
    <th>Hours</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @harvest.harvestings.each do |harvesting| %>
  <tr>
    <td><%= harvesting.harvester.full_name %></td>
    <td><%= harvesting.hours %></td>
    <td><%= link_to 'Show', harvesting, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_harvesting_path(harvesting), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', harvesting, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h2>Canning Sessions</h2>

<table class="table table-striped">
  <tr>
    <th>Leader</th>
    <th>Date</th>
    <th>Amount canned</th>
    <th>Pints canned</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @harvest.canning_sessions.each do |canning_session| %>
  <tr>
    <td><%= canning_session.leader.full_name %></td>
    <td><%= canning_session.date.to_s :human %></td>
    <td><%= canning_session.amount_canned %></td>
    <td><%= canning_session.pints_canned %></td>
    <td><%= link_to 'Show', canning_session, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_canning_session_path(canning_session), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', canning_session, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
