<%= form_for(@fruit_tree, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @fruit_tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fruit_tree.errors.count, "error") %> prohibited this fruit_tree from being saved:</h2>

      <ul>
      <% @fruit_tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :site_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select :site_id, Site.by_street, :id, :site_name %>
      <%= link_to 'Add a new site', new_site_path, :class => 'btn'%></div>
  </div>
  <div class="control-group">
    <%= f.label :fruit_id, :class => 'control-label' %>
     <div class="controls"><%= f.collection_select(:fruit_id, Fruit.all, :id, :name) %></div>
  </div>
  <div class="control_group">
    <%= f.label :pruning_candidate, :class => 'control-label' %>
    <div class="controls">yes: <%= f.radio_button :pruning_candidate, "true" %> no: <%= f.radio_button :pruning_candidate, "false" %></div><br />
  </div>
  <div class="control_group">
    <%= f.label :pruning_permission, :class => 'control-label' %>
    <div class="controls">yes: <%= f.radio_button :pruning_permission, "true" %>
                          no: <%= f.radio_button :pruning_permission, "false" %></div><br />
  </div>
  <div class="control-group">
    <%= f.label 'Season Start', :class => 'control-label' %>
    <div class="controls"><%= f.select(:season_start_month, MONTHS, :include_blank => true ) %>  
    <%= f.select(:season_start_day, (1..31).to_a, :include_blank => true ) %>
    <% if !@fruit_tree.fruit.nil? %>
      <span class="inline-help">Default fruit start date is <%= @fruit_tree.fruit.season_start_month %> <%= @fruit_tree.fruit.season_start_day %></span>
    <% end %></div>
  </div>
  <div class="control-group">
    <%= f.label 'Season End', :class => 'control-label' %>
    <div class="controls"><%= f.select(:season_end_month, MONTHS, :include_blank => true ) %>
    <%= f.select(:season_end_day, (1..31).to_a, :include_blank => true ) %>
    <% if !@fruit_tree.fruit.nil? %>
      <span class="inline-help">Default fruit end date is <%= @fruit_tree.fruit.season_end_month %> <%= @fruit_tree.fruit.season_end_day %></span>
    <% end %></div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
