<h1><%= @fruit_tree.tree_name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= link_to @fruit_tree.site.site_name, @fruit_tree.site %>
</p>

<p>
  <b>Fruit:</b>
  <%= @fruit_tree.fruit.name %>
</p>

<p>
  <b>Season start:</b>
  <%= @fruit_tree.start_month %> <%= @fruit_tree.start_day %>
</p>

<p>
  <b>Season end:</b>
  <%= @fruit_tree.end_month %> <%= @fruit_tree.end_day %>
</p>

<p>
  <b>Most Recent Status</b>
  <% if @fruit_tree.status_checks.empty? %>
    No status checks recorded.
  <% else %>
    <%= @fruit_tree.status_checks.first.status %> <%= @fruit_tree.status_checks.first.date.to_s :human %>
  <% end %>
</p>

<p><%= link_to 'New Harvest', new_harvest_path, :class => 'btn btn-primary' %> <%= link_to 'New Status Check', new_status_check_path, :class => 'btn btn-primary'%></p>

<h2>Upcoming Harvests</h2>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Leader</th>
    <th>Description</th>
    <th>Harvesters needed</th>
    <th>Canners needed</th>
    <th>Amount harvested</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @fruit_tree.harvests.upcoming.each do |harvest| %>
  <tr>
    <td><%= harvest.date.to_s :human %></td>
    <td><%= harvest.leader.full_name %></td>
    <td><%= harvest.description %></td>
    <td><%= harvest.harvesters_needed %></td>
    <td><%= harvest.canners_needed %></td>
    <td><%= harvest.amount_harvested %></td>
    <td><%= link_to 'Learn More', harvest, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_harvest_path(harvest), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', harvest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h2>Status Checks</h2>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Status</th>
    <th>Notes</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @fruit_tree.status_checks.each do |status_check| %>
  <tr>
    <td><%= status_check.date.to_s :human %></td>
    <td><%= status_check.status %></td>
    <td><%= status_check.notes %></td>
    <td><%= link_to 'Show', status_check, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_status_check_path(status_check), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', status_check, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h2>Past Harvests</h2>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Leader</th>
    <th>Description</th>
    <th>Harvesters needed</th>
    <th>Canners needed</th>
    <th>Amount harvested</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @fruit_tree.harvests.past.each do |harvest| %>
  <tr>
    <td><%= harvest.date.to_s :human %></td>
    <td><%= harvest.leader.full_name %></td>
    <td><%= harvest.description %></td>
    <td><%= harvest.harvesters_needed %></td>
    <td><%= harvest.canners_needed %></td>
    <td><%= harvest.amount_harvested %></td>
    <td><%= link_to 'Show', harvest, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_harvest_path(harvest), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', harvest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>
