<h1><%= @canning_session.session_name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Harvest:</b>
  <%= link_to @canning_session.harvest.harvest_name, @canning_session.harvest %>
</p>

<p>
  <b>Leader:</b>
  <%= link_to @canning_session.leader.full_name, @canning_session.leader %>
</p>

<p>
  <b>Date:</b>
  <%= @canning_session.date.to_s :human %>
</p>

<p>
  <b>Amount canned:</b>
  <%= @canning_session.amount_canned %>
</p>

<p>
  <b>Pints canned:</b>
  <%= @canning_session.pints_canned %>
</p>

<p>
  <b>Notes:</b>
  <%= @canning_session.notes %>
</p>
