<%= form_for(setup_site(@site),:html => { :class => "form-horizontal"} ) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group"> 
      <%= f.label :street_number, :class => 'control-label' %>
      <div class="controls"><%= f.text_field :street_number %></div>
    </div>
    <div class="control-group"> 
        <%= f.label :street_name, :class => 'control-label' %>
        <div class="controls"><%= f.text_field :street_name %></div>
      </div>
    <div class="control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class="controls"><%= f.text_field :city %></div>
    </div>
    <div class="control-group">
      <%= f.label :zipcode, :class => 'control-label' %>
      <div class="controls"><%= f.text_field :zipcode %></div>
    </div>
    <div class="row">
  <div class="control-group span6">
    <%= f.label :owner_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select(:owner_id, Person.order(:last_name, :first_name), :id, :full_name, {:include_blank => 'Choose or Create Owner'}, {:class => 'owner_id_class'}) %></div>
  </div>
  <div class="span6">
    <%= f.fields_for :owner, Person.new do |ff| %>
      <div class="control-group">
        <%= ff.label :first_name, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :first_name, { :disabled => @site.owner_id?, :class => 'owner_class' } %></div>
      </div>
      <div class="control-group">
        <%= ff.label :last_name, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :last_name, { :disabled => @site.owner_id?, :class => 'owner_class' } %></div>
      </div>
      <div class="control-group">
        <%= ff.label :email, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :email, { :disabled => @site.owner_id?, :class => 'owner_class' } %></div>
      </div>
      <div class="control-group">
        <%= ff.label :phone, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :phone, { :disabled => @site.owner_id?, :class => 'owner_class' } %></div>
      </div>
    <% end %>
  </div>
  </div>
  <div class="row">
  <div class="control-group span6">
    <%= f.label :secondary_owner_id, :class => 'control-label' %>
    <div class="controls"><%= f.collection_select(:secondary_owner_id, Person.order(:last_name, :first_name), :id, :full_name, {:include_blank => 'Choose or Create Secondary Owner'}, {:class => 'secondary_owner_id_class'}) %></div>
  </div>
  <div class="span6">
    <%= f.fields_for :secondary_owner, Person.new do |ff| %>
      <div class="control-group">
        <%= ff.label :first_name, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :first_name, { :disabled => @site.secondary_owner_id?, :class => 'secondary_owner_class' } %></div>
      </div>
      <div class="control-group">
        <%= ff.label :last_name, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :last_name, { :disabled => @site.secondary_owner_id?, :class => 'secondary_owner_class' }  %></div>
      </div>
      <div class="control-group">
        <%= ff.label :email, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :email, { :disabled => @site.secondary_owner_id?, :class => 'secondary_owner_class' }  %></div>
      </div>
      <div class="control-group">
        <%= ff.label :phone, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :phone, { :disabled => @site.secondary_owner_id?, :class => 'secondary_owner_class' }  %></div>
      </div>
    <% end %>
    </div>
    </div>
    <div class="row">
  <div class="control-group span6">
    <%= f.label :lurc_contact_id, 'Site Coordinator', :class => 'control-label' %>
    <div class="controls"><%= f.collection_select(:lurc_contact_id, Person.order(:last_name, :first_name), :id, :full_name, {:include_blank => 'Choose or Create Site Coordinator'}, {:class => 'lurc_contact_id_class'}) %></div>
  </div>
      <div class="span6">
      <%= f.fields_for :lurc_contact, Person.new do |ff| %>
      <div class="control-group">
        <%= ff.label :first_name, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :first_name, { :disabled => @site.lurc_contact_id?, :class => 'lurc_contact_class' } %></div>
      </div>
      <div class="control-group">
        <%= ff.label :last_name, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :last_name, { :disabled => @site.lurc_contact_id?, :class => 'lurc_contact_class' } %></div>
      </div>
      <div class="control-group">
        <%= ff.label :email, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :email, { :disabled => @site.lurc_contact_id?, :class => 'lurc_contact_class' } %></div>
      </div>
      <div class="control-group">
        <%= ff.label :phone, :class => 'control-label' %>
        <div class="controls"><%= ff.text_field :phone, { :disabled => @site.lurc_contact_id?, :class => 'lurc_contact_class' } %></div>
      </div>
    <% end %>
    </div>
    </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls"><%= f.text_area :note %></div>
  </div>
  <div class="control-group">
    <%= f.label 'Owner Contacted', :class => 'control-label' %>
    <div class='controls'><%= f.check_box :owner_contacted %></div>
  </div>
  <div class="control-group">
    <%= f.label 'Harvest Permission', :class => 'control-label' %>
    <div class="controls"><%= f.select :status, Site.STATUSES %></div>
  </div>
  <div class="control-group">
    <%= f.label :fruit_trees, :class => 'control-label' %>
  </div>
    <% @site.fruit_trees.each do |fruit_tree| %>
      <%= f.fields_for :fruit_trees, fruit_tree do |ff| %>
        <div class="control-group">
          <%= ff.label :fruit_id, :class => 'control-label' %>
           <div class="controls"><%= ff.collection_select(:fruit_id, Fruit.order(:name), :id, :name, :include_blank => 'Choose a Fruit') %></div>
        </div>
        <div class="control-group">
          <%= ff.label 'Season Start', :class => 'control-label' %>
          <div class="controls"><%= ff.select(:season_start_month, MONTHS, :include_blank => true) %>  
          <%= ff.select(:season_start_day, (1..31).to_a, :include_blank => true ) %>
          <% if !fruit_tree.fruit.nil? %>
            <span class="inline-help">Default fruit start date is <%= fruit_tree.fruit.season_start_month %> <%= fruit_tree.fruit.season_start_day %></span>
          <% end %></div>
        </div>
        <div class="control-group">
          <%= ff.label 'Season End', :class => 'control-label' %>
          <div class="controls"><%= ff.select(:season_end_month, MONTHS, :include_blank => true ) %>
          <%= ff.select(:season_end_day, (1..31).to_a, :include_blank => true ) %>
          <% if !fruit_tree.fruit.nil? %>
            <span class="inline-help">Default fruit end date is <%= fruit_tree.fruit.season_end_month %> <%= fruit_tree.fruit.season_end_day %></span>
          <% end %></div>
        </div>
      <% end %>
    <% end %>
    <div class="controls">
        <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>
