<h1><%= @site.site_name %></h1>

<p id="notice"><%= notice %></p>

<p><%= link_to 'Edit Site', edit_site_path(:site_id => @site.id), :class => 'btn btn-primary' %></p>

<% if user_signed_in? && @site.sees_street(current_user) %>
<p>
  <b>Street:</b>
  <%= @site.street_number %> <%= @site.street_name %>
</p>
<% end %>

<p>
  <b>City:</b>
  <%= @site.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @site.zipcode %>
</p>

<p>
  <b>Owner:</b>
  <%= @site.owner_id? ? (link_to @site.owner.full_name, @site.owner) : nil %>
</p>

<p>
  <b>Secondary owner:</b>
  <%= @site.secondary_owner_id? ? (link_to @site.secondary_owner.full_name, @site.secondary_owner) : nil %>
</p>

<p>
  <b>Site Coordinator:</b>
  <%= @site.lurc_contact_id? ? (link_to @site.lurc_contact.full_name, @site.lurc_contact) : nil %>
</p>

<p>
  <b>Note:</b>
  <%= @site.note %>
</p>

<p>
  <b>Owner Contacted:</b>
  <%= @site.owner_contacted %>
</p>

<p>
  <b>Harvest Permission:</b>
  <%= @site.status %>
</p>

<h2>Fruit Trees</h2>

<p><%= link_to 'New Fruit tree', new_fruit_tree_path(:site_id => @site.id), :class => 'btn btn-primary' %></p>

<table class="table table-striped">
  <tr>
    <th>Fruit</th>
    <th>Season start</th>
    <th>Season end</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @site.fruit_trees.each do |fruit_tree| %>
  <tr>
    <td><%= fruit_tree.fruit.name %></td>
    <td><%= fruit_tree.start_month %> <%= fruit_tree.start_day %></td>
    <td><%= fruit_tree.end_month %> <%= fruit_tree.end_day %></td>
    <td><%= link_to 'Learn More', fruit_tree, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edit', edit_fruit_tree_path(fruit_tree), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Delete', fruit_tree, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<h2>Harvests</h2>

<table class="table table-striped">
  <tr>
    <th>Fruit tree</th>
    <th>Date</th>
    <th>Leader</th>
    <th>Description</th>
    <th>Amount harvested</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @site.harvests.each do |harvest| %>
  <tr>
    <td><%= harvest.fruit_tree.tree_name %></td>
    <td><%= harvest.date.to_s :human %></td>
    <td><%= harvest.leader.full_name %></td>
    <td><%= harvest.description %></td>
    <td><%= harvest.amount_harvested %></td>
    <td><%= link_to 'Learn More', harvest, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_harvest_path(harvest), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', harvest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h2>Prunings</h2>
<table class="table table-striped">
  <tr>
    <th>Fruit tree</th>
    <th>Date</th>
    <th>Leader</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @site.prunings.each do |pruning| %>
  <tr>
    <td><%= pruning.fruit_tree.tree_name if pruning.fruit_tree %></td>
    <td><%= pruning.date.to_s :human if pruning.date %></td>
    <td><%= pruning.leader.full_name if pruning.leader %></td>
    <td><%= link_to 'Learn More', pruning, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_pruning_path(pruning), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', pruning, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>